.b-footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  
  margin-top: 100px;
  padding: 40px 0;
  box-sizing: border-box;

  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1.2px;
  text-align: center;

  color: #111;
}

.b-footer__text,
.b-footer__credit {
  font-weight: 400;
}

.b-footer__socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
  list-style: none;
  margin: 0;
  padding: 30px 0;
}

@media only screen and (max-width: 500px) {
  .b-footer {
    margin: 0;
  }
}