body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HEADER  */
.b-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #FFFFFF;
  box-shadow: 0px 4px 12px rgba(34, 34, 34, 0.15);
}

.b-header__wrapper {
  width: 100%;
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.b-header a {
  text-decoration: none;
  font-family: 'Rubik', sans-serif;
  color: #111;
}

.b-header__logo {
  font-size: 32px;
}

.b-header__button {
  padding: 4px 12px;
}

.b-header__button a {
  font-size: 14px;
}

/* MAIN */
.b-main {
  width: 100%;

  margin-top: 120px;
}

.b-main__wrapper {
  width: 100%;
  max-width: 1000px;

  display: flex;
  flex-direction: column;
  align-items: center;

  gap: 80px;
  margin: 0 auto;
}

.b-main__image {
  width: 100%;
}

.b-main__text {
  width: 100%;
  max-width: 720px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  box-sizing: border-box;
}

.b-main__list {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 0;
}

.b-main__list--item {
  max-width: 720px;

  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0 auto;
  padding: 20px;

  list-style: none;
  border-radius: 10px;
  background-color: #F9F9F9;
  border: 1px solid #D9D9D9;
}

.b-main__title {
  font-size: 24px;
  font-family: 'Rubik', sans-serif;
}

.b-main__paragraph {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
  line-height: 200%;
}

/* FOOTER  */
.b-footer {
  width: 100%;
}

.b-footer__wrapper {
  width: 100%;
  max-width: 720px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 30px;
  margin: 0 auto;
  padding: 100px 0 30px 0;

  font-family: 'Rubik', sans-serif;
  text-align: center;
  color: #111;
}

.b-footer__title {
  font-size: 36px;
}

.b-footer__subtitle {
  font-size: 24px;
  font-weight: 300;
}

.b-footer__socials {
  display: flex;
  gap: 10px;
}

.b-footer__link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.b-footer__credit {
  font-size: 10px;
  font-weight: 300;
}

@media (max-width: 1024px) {
  .b-header__wrapper {
    padding: 0 16px;
  }

  .b-main__image {
    padding: 0 16px;
    box-sizing: border-box;
  }

  .b-main__text {
    padding: 0 16px;
    box-sizing: border-box;
  }

  
  .b-main__list--item {
    margin: 0 16px;
  }

  .b-footer__wrapper {
    padding: 60px 16px 30px 16px;
    box-sizing: border-box;
  }

  .b-footer__title {
    font-size: 32px;
  }

  .b-footer__subtitle {
    font-size: 24px;
  }
}

@media (max-width: 720px) {
  .b-main__prototype {
    display: none;
  }
}

@media (max-width: 450px) {
  .b-footer__title {
    font-size: 24px;
  }

  .b-footer__subtitle {
    font-size: 18px;
  }
}